div.jumbotron.carousel-hero {
  color: #fff;
  text-align: center;
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-bottom: 0;
}

div.jumbotron.hero-nature {
  background-image: url('../../assets/img/hero-background-nature.jpg?h=d686c991e4c6f24fc3e4c2d7834506a5');
}

div.jumbotron.hero-photography {
  background-image: url('../../assets/img/hero-background-photography.jpg?h=4e41fed1478d1b53945f4939079be517');
}

div.jumbotron.hero-technology {
  background-image: url('../../assets/img/hero-background-technology.jpg?h=39fbe12251a9cdd0874867a8544541fa');
}

h1.hero-title, h2.hero-title, h3.hero-title {
  text-shadow: 0 3px 3px rgba(0,0,0,0.4);
  color: #fff;
}

p.hero-subtitle {
  max-width: 600px;
  margin: 25px auto;
  padding: 10px 15px;
  color: #fff;
}

